.box{
    width: 1px;
    height:1px;
    border: .00001px solid white;
    margin: 0;
}

#box-container{
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    height: 160px;
    border-style: solid;
}

